@import "~@payloadcms/ui/scss";
@import "./colors.scss";

@layer payload-default {
  :root {
    --app-header-height: calc(var(--base) * 5);
  }

  @media (max-width: 1200px) {
    .upload__dropzoneContent__buttons {
      flex-direction: column;
    }
  }

  .template-default {
    background: linear-gradient(90deg, #18181a 0%, #1c1c1f 100%);

    .template-default__wrap {
      background: transparent;
    }
  }

  .editor-container {
    background-color: var(--color-base-850);
    border: 1px solid var(--color-base-800);
  }

  #field-sections {
    .blocks-field__block-pill {
      background-color: var(--wild-child-indigo);
    }

    .blocks-field__block-number {
      display: none;
    }

    .blocks-field__fields .collapsible-field__row-label-wrap span {
      background-color: var(--color-base-800);
      color: var(--color-base-150);
      padding-inline: 5px;
      padding-block: 1px;
      height: unset;
      min-height: unset;
      border-radius: 3px;
      font-size: 12px;
    }

    .blocks-field__header-actions button {
      color: var(--color-base-350);
    }

    .array-field__header-actions button {
      color: var(--color-base-350);
    }
  }

  .btn--style-primary,
  .popup-button,
  .btn--icon-style-without-border:not(
      .status__action,
      .lock-button,
      .card__click,
      .preview-btn,
      .upload__createNewToggler,
      .upload__listToggler,
      .btn--style-secondary,
      .relationship-add-new__add-button
    ) {
    --bg-color: var(--wild-child-indigo);
    --color: var(--color-base-0);
    --hover-color: var(--color-base-0);
    --hover-bg: var(--wild-child-indigo-light);
    border-color: var(--wild-child-indigo);
  }

  .upload__createNewToggler,
  .upload__listToggler {
    --bg-color: var(--wild-child-indigo-light);
    --color: var(--color-base-0);
    --hover-color: var(--color-base-0);
    --hover-bg: var(--wild-child-indigo-light);
    border-color: var(--wild-child-indigo-light);
  }

  .card {
    border-radius: var(--style-radius-s);
    border: 1px solid var(--color-base-800);
    align-items: center;
    padding: 36px 52px;

    &__title {
      font-size: base(0.8);
      font-weight: 600;
      color: var(--theme-elevation-700);
    }

    &:hover {
      border: 1px solid var(--theme-elevation-450);
    }
  }

  .checkbox-input {
    &__input {
      background-color: var(--theme-elevation-0);
      border-color: var(--theme-elevation-200);
    }
  }

  .dashboard {
    --cols: 4;
    padding: var(--gutter-h);

    &__wrap {
      gap: calc(var(--base) * 3);
    }

    @include large-break {
      --cols: 4;
    }

    @include mid-break {
      --cols: 2;
    }

    @include small-break {
      --cols: 2;
    }

    @include extra-small-break {
      --cols: 1;
    }
  }

  .login {
    width: 50%;
    margin-left: auto;
    margin-right: 0;

    @include mid-break {
      width: 100%;
    }
  }

  .nav {
    border-right: 1px solid var(--theme-elevation-100);

    nav {
      a:hover {
        text-decoration: none;
        background-color: var(--theme-elevation-150);
      }

      a,
      a.active {
        padding: base(0.35) base(0.6);
      }
    }

    &__link {
      margin-bottom: base(0.25);

      &.active {
        background-color: var(--color-base-850);
        border-left: 2px solid var(--wild-child-indigo-light);
      }

      &-label {
        font-size: base(0.75);
        color: var(--theme-elevation-750);
      }

      &-indicator {
        background-color: var(--theme-elevation-250);
      }
    }

    &__icon {
      width: 18px;
      height: 18px;
      margin-right: base(0.5);
    }

    &__log-out {
      color: var(--theme-elevation-750);
      border-radius: 999px;
      width: base(2.25);
      height: base(2.25);
      display: flex;
      align-items: center;

      &:hover {
        background-color: var(--theme-elevation-150);
      }
    }
  }

  .nav-group {
    margin-bottom: base(1.25);

    &__toggle {
      margin-bottom: base(0.5);
      color: var(--theme-elevation-400);

      &:hover {
        color: var(--theme-elevation-550);
      }
    }

    &__label {
      padding: 0 base(0.6);
      text-transform: uppercase;
      font-family: monospace;
    }
  }

  .nav-toggler {
    margin-left: base(0.6);
  }

  .step-nav {
    &__home {
      width: 100%;
      min-width: 135px;
      height: auto;
      min-height: 50px;
    }

    span {
      overflow: visible;
      text-overflow: unset;
    }
  }

  #field-breadcrumbs {
    display: none;
  }

  .app-header {
    // margin-bottom: 3rem !important;
    // border-bottom: 1px solid var(--color-base-800);

    &__account {
      text-decoration: none;
    }
  }

  // Light theme overrides
  [data-theme="light"] {
    .nav {
      background-color: var(--color-base-850);

      &__link {
        color: var(--color-base-0);

        &:hover {
          background-color: var(--color-base-800);
        }
      }

      &-toggler .hamburger {
        background-color: var(--color-base-850);
        border-color: var(--color-base-800);

        svg path {
          stroke: var(--color-base-0) !important;
        }
      }
    }

    .document-fields__sidebar-wrap,
    .doc-controls {
      background-color: var(--color-base-50);
    }

    .icon--logout {
      color: var(--color-base-0);
    }
  }

  .confirmation-modal__controls {
    justify-content: stretch;

    button {
      flex: 1;
    }
  }

  [id^="field-navItems__"][id$="__item__subItems"] {
    padding-left: 2rem;
  }

  [id^="field-navItems__"][id$="__item__subItems__0__child__subItems"] {
    padding-left: 2rem;
  }
}
