/*
  Components (for components that are too complex for utilities)
*/

@layer components {
  .gradient-border {
    border: 1px solid transparent;
    background: transparent;
    border-image: linear-gradient(
        to right,
        theme(colors.secondary-600),
        theme(colors.primary-500)
      )
      1;
  }

  .article-image-gradient {
    background: linear-gradient(
      140.3deg,
      rgba(68, 0, 255, 0) 41.78%,
      rgba(68, 0, 255, 0.5) 100%
    );
  }

  .side-border-dark {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: theme(spacing.section-x);
      inset-inline-end: theme(spacing.section-x);
      z-index: 0;
      height: 100%;
      width: calc(100vw - (theme(spacing.section-x) * 2));
      border-inline-start: 1px solid theme(colors.dark-border);
      border-inline-end: 1px solid theme(colors.dark-border);
      pointer-events: none;
    }
  }

  .side-border-light {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: theme(spacing.section-x);
      inset-inline-end: theme(spacing.section-x);
      z-index: 0;
      height: 100%;
      width: calc(100vw - (theme(spacing.section-x) * 2));
      border-inline-start: 1px solid theme(colors.light-border);
      border-inline-end: 1px solid theme(colors.light-border);
      pointer-events: none;
    }
  }

  /* Prevents flickering when using scroll smoother over dark sections*/

  .flicker-mask {
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: theme(colors.dark.950);
      pointer-events: none;
      z-index: -10;
    }
  }
}
