/*
  Components (for components that are too complex for utilities)
*/

@layer components {
  .hero-overlay {
    @apply absolute inset-0 z-10;
    background-blend-mode: normal, normal, overlay, normal;
    background-size: cover;
    background-position: 80% 50% !important;
    background-repeat: no-repeat !important;
  }

  .gradient-border {
    border: 1px solid transparent;
    background: transparent;
    border-image: linear-gradient(
        to right,
        var(--color-secondary-600),
        var(--color-primary-500)
      )
      1;
  }
}
