/* Default Overrides of Tailwind CSS */

@theme {
  --spacing: 0.25rem;

  --space-xs: clamp(0.85rem, 0.134vw + 0.823rem, 0.9375rem);
  --space-s: clamp(1.125rem, 0.191vw + 1.087rem, 1.25rem);
  --space-m: clamp(1.5rem, 0.574vw + 1.385rem, 1.875rem);
  --space-l: clamp(2rem, 1.243vw + 1.751rem, 2.8125rem);
  --space-xl: clamp(2.6563rem, 2.39vw + 2.178rem, 4.2188rem);
  --space-xxl: clamp(3.6rem, 4.173vw + 2.765rem, 6.3281rem);
}

/* Spacing - applies to padding, margin, width & height */

@theme {
  --spacing-section-x: clamp(1rem, 4vw, 4rem);
  --spacing-section-y: clamp(1rem, 10vw, 4rem);

  --spacing-section-xs: clamp(1.6875rem, 1.243vw + 1.439rem, 2.5rem);
  --spacing-section-sm: clamp(2.25rem, 2.294vw + 1.791rem, 3.75rem);
  --spacing-section-md: clamp(3rem, 4.015vw + 2.197rem, 5.625rem);
  --spacing-section-lg: clamp(4rem, 6.788vw + 2.642rem, 8.4375rem);
  --spacing-section-xl: clamp(5.3125rem, 11.233vw + 3.066rem, 12.6563rem);
  --spacing-section-xxl: clamp(7.0625rem, 18.164vw + 3.43rem, 18.9375rem);

  --spacing-logo: clamp(45px, 10vw, 60px);
  --spacing-nav: clamp(50px, 10vh, 80px);

  --spacing-content: var(--space-xs);

  --spacing-container: 1528px;
  --spacing-container-md: 1326px;
  --spacing-container-sm: 1008px;

  --spacing-column: clamp(2rem, 4vw, 4rem);
  --spacing-row: clamp(1rem, 4vw, 2rem);
  --spacing-grid: var(--space-m);

  --spacing-card: var(--space-m);
  --spacing-card-content: var(--space-s);

  --spacing-grid-col-width: clamp(1rem, 12.934vw + -1.587rem, 9.375rem);
}

/* Brand Color Shades - get from https://www.tailwindshades.com */

@theme {
  --color-primary: oklch(50.49% 0.171 302.71);
  --color-primary-50: oklch(92.71% 0.02428 306.95);
  --color-primary-100: oklch(88.858% 0.03907 307.2);
  --color-primary-200: oklch(76.74% 0.082 306.86);
  --color-primary-300: oklch(65.11% 0.127 305.34);
  --color-primary-400: oklch(57.25% 0.155 304.34);
  --color-primary-500: oklch(57.734% 0.15374 304.17);
  --color-primary-600: oklch(50.49% 0.17053 302.71);

  --color-secondary: oklch(47.642% 0.29956 274.94);
  --color-secondary-50: oklch(92.323% 0.04273 298.82);
  --color-secondary-100: oklch(87.316% 0.07112 297.48);
  --color-secondary-200: oklch(77.222% 0.13094 295.67);
  --color-secondary-300: oklch(59.2% 0.211 277.79);
  --color-secondary-400: oklch(49.24% 0.281 269.8);
  --color-secondary-500: oklch(47.64% 0.3 274.94);
  --color-secondary-600: oklch(39.675% 0.24803 275.67);

  --color-neutral: oklch(96.23% 0.005 286.3);

  --color-dark: oklch(14.557% 0.00884 273.86);
  --color-dark-50: oklch(96.23% 0.005 286.3);
  --color-dark-600: oklch(33.41% 0.04 274.2);
  --color-dark-700: oklch(29.75% 0.033 274.52);
  --color-dark-800: oklch(25.96% 0.027 275.01);
  --color-dark-900: oklch(22.1% 0.022 276.46);
  --color-dark-950: oklch(14.557% 0.00884 273.86);
}
