/* 
  Typography 
*/

/* https://www.fluid-type-scale.com/ */

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;

  --text-h1: clamp(2rem, 5vw, 4rem);
  --text-h2: clamp(1.5rem, 5vw, 3rem);
  --text-h3: clamp(1.25rem, 5vw, 2.5rem);
  --text-h4: clamp(1rem, 5vw, 2rem);
  --text-h5: clamp(0.875rem, 5vw, 1.75rem);
  --text-h6: clamp(0.75rem, 5vw, 1.5rem);
  --text-base: clamp(0.875rem, 5vw, 1rem);
}

@layer base {
  h1 {
    @apply font-heading text-h1 leading-tight font-bold tracking-tight text-gray-950;
  }

  h2 {
    @apply font-heading text-h2 leading-tight font-semibold tracking-tight text-gray-950;
  }

  h3 {
    @apply font-heading text-h3 leading-tight font-semibold tracking-tight text-gray-950;
  }

  h4 {
    @apply font-heading text-h4 leading-tight font-semibold tracking-tight text-gray-950;
  }

  h5 {
    @apply font-heading text-h5 leading-tight font-semibold tracking-tight text-gray-950;
  }

  h6 {
    @apply font-heading text-h6 leading-tight font-semibold tracking-tight text-gray-950;
  }

  p {
    @apply font-sans text-base leading-normal tracking-normal text-gray-950;
  }

  a {
    @apply font-sans leading-normal tracking-normal;
  }

  p a {
    @apply text-primary-foreground font-semibold;
  }

  ul {
    @apply font-sans text-base leading-normal tracking-normal text-gray-950;
  }

  ol {
    @apply font-sans text-base leading-normal tracking-normal text-gray-950;
  }

  li {
    @apply font-sans text-base leading-normal tracking-normal text-gray-950;
  }

  blockquote {
    @apply font-sans text-base leading-normal tracking-normal text-gray-950;
  }
}
