/*
  Typography
*/

/* https://www.fluid-type-scale.com/ */

@theme {
  --font-sans: "helvetica-neue-lt-pro", sans-serif;
  --font-heading: "neue-haas-grotesk-display", sans-serif;

  --text-h1: clamp(6rem, 3.824vw + 5.235rem, 8.5rem);
  --text-h2: clamp(4rem, 3.442vw + 3.312rem, 6.25rem);
  --text-h3: clamp(2rem, 1.721vw + 1.656rem, 3.125rem);
  --text-h4: clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem);
  --text-h5: clamp(0.875rem, 5vw, 1.75rem);
  --text-h6: clamp(0.75rem, 5vw, 1.5rem);
  --text-base: clamp(0.9rem, 0.459vw + 0.808rem, 1.2rem);
  --text-sm: clamp(0.875rem, 0.191vw + 0.837rem, 1rem);
  --text-xs: clamp(0.75rem, 5vw, 0.875rem);
}

@layer components {
  .text-gradient {
    @apply from-secondary-600 to-primary bg-gradient-to-r bg-clip-text text-transparent;
  }
}

@layer base {
  h1 {
    @apply font-heading text-h1 text-dark leading-[1.05] font-light tracking-normal;
  }

  h2 {
    @apply font-heading text-h2 text-dark leading-[1.1] font-light tracking-normal;
  }

  h3 {
    @apply font-heading text-h3 text-dark leading-[1.4] font-light tracking-normal;
  }

  h4 {
    @apply font-heading text-h4 text-dark leading-[1.43] font-medium tracking-normal;
  }

  h5 {
    @apply font-heading text-h5 text-dark leading-tight font-semibold tracking-tight;
  }

  h6 {
    @apply font-heading text-h6 text-dark leading-tight font-semibold tracking-tight;
  }

  p {
    @apply text-dark font-sans text-base leading-[1.5] font-light tracking-[2%];
  }

  p a {
    @apply text-primary font-semibold no-underline;
  }

  ul {
    @apply text-dark font-sans text-base leading-normal tracking-normal;
  }

  ol {
    @apply text-dark font-sans text-base leading-normal tracking-normal;
  }

  li {
    @apply text-dark font-sans text-base leading-normal tracking-normal;
  }

  blockquote {
    @apply text-dark font-sans text-base leading-normal tracking-normal;
  }
}
