@import "~@payloadcms/ui/scss";

@layer payload-default {
	.avatar {
		padding: 4px 8px;
		transition-property: border;
		transition-duration: 100ms;
		transition-timing-function: cubic-bezier(0, 0.2, 0.2, 1);
		border: 1px solid var(--theme-elevation-50);
		background-color: var(--theme-elevation-50);
		display: inline-flex;
		align-items: center;
		border-radius: 999px !important;
		height: 50px;
		width: 50px;
		border: 2px solid var(--color-base-750);
		cursor: pointer;
		overflow: hidden;
		position: relative;

		&__image {
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: 1;
			&:hover {
				border-color: var(--color-base-700);
			}
		}

		&__greeting,
		&__chevron {
			color: var(--theme-elevation-300);
		}

		&__username {
			color: var(--theme-elevation-700);
			font-weight: 600;
		}

		&:hover {
			background-color: var(--theme-elevation-100);
			border-color: var(--theme-elevation-100);
		}
	}

	.graphic-account {
		&__bg {
			fill: var(--theme-elevation-50);
			stroke: var(--theme-elevation-300);
			stroke-width: 1px;
		}

		&__head,
		&__body {
			fill: var(--theme-elevation-300);
		}

		&:hover:not(.graphic-account--active) {
			.graphic-account {
				&__bg {
					fill: var(--theme-elevation-50);
					stroke: var(--theme-elevation-300);
				}

				&__head,
				&__body {
					fill: var(--theme-elevation-300);
				}
			}
		}
	}
}
